# ignore files
*.pyc
/ubuntu-*-cloudimg-console.log
/config.py

# ignore directories
/data/nasdaq
/data/twitter
/data/wikipedia
/.vagrant

# don't ignore
!/data/2016-08-01--2018-09-19T19-07-57--sample-train.json